<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main-content">
  {{>header}}
  <h1><b>My First Help Page.</b></h1>
 <p><b>{{title}}</b></p>
 <p><i>{{name}}</i></p>

  </div>
 {{>footer}}

</body>




</html>
